footer{
    margin-top: 5em;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
    box-shadow: 0 0 10px 15px rgba(0, 0, 0, 0.3); 
}

.footer-body{
    max-width: 85%;
    margin: 2em auto 3em;
    font-size: 0.75rem;
    display: flex;
    column-gap: 25%;
    justify-content: space-around;
    align-items: center;
    opacity: 0.9;
}

footer h4{
    margin-top: 0em;
    margin-bottom: 0.5em;
}

.thanking{
    flex: 2;
    flex-basis: 15em;
    max-width: 35em;
    
}

.footer-contact{
    flex: 1;
    flex-basis: 11em;
    max-width: 20em;
}