.projects{
    margin-top: 5rem;
    perspective: 1000px;
    scroll-margin-top: 6rem;
}

.projects-intro{
    width: 85%; 
    margin: auto; 
    opacity: 0.9
}

.zoom-out-img{
    transition: transform 20s ease;
}

.zoom-in-img{
    transition: transform 20s ease;
    transform: scale(3);
}

.rotateY{
    transform: rotateX(60deg) translateY(5%);
}

.video-box{
    perspective: 1000px;
    perspective-origin: 70% 35%;
    position: absolute;
}

.snowflake-video{
    width: 80%;    
    bottom: 10px;
    right: 10%;
    max-width: 800px;
}

.boid-video{
    width: 90%;    
    bottom: 15%;
    right: 5%;
}

@media(min-width: 740px){
    .snowflake-video{
    width: 65%;
    bottom: 0px;
    min-width: 600px;
    }

    .boid-video{
        width: 70%;
        bottom: 50px
    }
        
}
